VersaoBeta/IMHU/IMHU.WebUI/Service References/AceService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IMHU.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IMHU.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Encomenda">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClasse">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataEncomenda" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ID_Encomenda" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_UnidadeFuncional" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuantidadeEncomenda" type="xs:int" />
          <xs:element minOccurs="0" name="Referencia_Produto" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Encomenda" nillable="true" type="tns:Encomenda" />
  <xs:complexType name="BaseClasse">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseClasse" nillable="true" type="tns:BaseClasse" />
</xs:schema>